@import "~@angular/material/theming";
@import "variables";

@include mat-core();

$primary: mat-palette($plar-blue-palette, 500);
$accent: mat-palette($plar-light-blue-palette, 500);
$warn: mat-palette($plar-red-palette, 500);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

@import "material-styles";
