// colors:

$plar-green: #00dc7d;
$plar-green-light: #32f19f;
$plar-green-dark: #00a94f;

$plar-gray-1: #d9dfe2;

$plar-blue-palette: (
  50: #8997ff,
  100: #8997ff,
  200: #8997ff,
  300: #8997ff,
  400: #657fff,
  500: #4a69ff,
  600: #4a69ff,
  700: #003fcb,
  800: #003fcb,
  900: #003fcb,
  contrast: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

$plar-light-blue-palette: (
  50: #5ce6ff,
  100: #5ce6ff,
  200: #5ce6ff,
  300: #5ce6ff,
  400: #5ce6ff,
  500: #1ec9e8,
  600: #1ec9e8,
  700: #0098b6,
  800: #0098b6,
  900: #0098b6,
  contrast: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

$plar-red-palette: (
  50: #ff957b,
  100: #ff957b,
  200: #ff957b,
  300: #ff957b,
  400: #fe634e,
  500: #fe634e,
  600: #fe634e,
  700: #c52e24,
  800: #c52e24,
  900: #c52e24,
  contrast: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);
