@import "~@angular/material/theming";
@import "variables";
@import "typography";

@include mat-core($my-custom-typography-config);

$primary: mat-palette($plar-blue-palette, 500);
$accent: mat-palette($plar-light-blue-palette, 500);
$warn: mat-palette($plar-red-palette, 500);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

@import "material-styles";
